#cardThreeClass {
    width: 300px;
    height: 330px;
    background-color: #CFB991;
    padding: 10px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
